@model IEnumerable<TurboKart.Presentation.Websites.TurboKartBookingManagement.Models.BookingCRUD.MockBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandprixType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandprixType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PrimaryKey }) |
                @Html.ActionLink("Details", "Details", new { id=item.PrimaryKey }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PrimaryKey })
            </td>
        </tr>
}
    </tbody>
</table>
